/*
  Original block types
  a - orange with green circle
  b - red with hourglass
  c - yellow with 4 black squares. (dice)
  d - green with blue squares (shaped like cross)
  e - blue with white X
  f - yellow with blue square
  g - green, with funnel shape (triangle)
  h - red with orange circle

  verify by loading the following level
  level data for impossible - 6 (index of 5)
  gcXgXXXX/XgXeXXXX/XfhfYXYc/hXagfhed/dYXbegdh/bdfefdaX

*/

.block {
  position: absolute;
  transition: top 0.25s linear, left 0.25s linear, opacity 0.5s ease-in;
  user-select: none; // disable selecting text (solves issue with gestures in web version)
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.movable:active {
  border: 1px solid aqua;
}

.X {
  background-color: slategrey;
  border-radius: 0;
}

.Y {
  display: none;
  border-radius: none;
}

.a {
  color: pink;
  background-image: radial-gradient(circle, salmon, red);
  cursor: grab;
}

.b {
  background-color: greenyellow;
  cursor: grab;
}

.c {

  background-color: brown;
  cursor: grab;
}

.d {

  background-color: salmon;
  cursor: grab;
}

.e {

  background-color: skyblue;
  cursor: grab;
}

.f {

  background-color: olive;
  cursor: grab;
}

.g {

  background-color: plum;
  cursor: grab;
}

.h {

  background-color: violet;
  cursor: grab;
}
