<ion-menu side="start" swipeGesture="false" menuId="side-menu" contentId="main" (click)="onCloseMenu()">
  <ion-header>
    <ion-toolbar>
      <ion-title>Vexed Again.</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="onCloseMenu()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>

      <ion-item style="cursor: pointer" id="trigger-game-select" (click)="onSelectGamePack()">
        <ion-icon slot="start" name="apps-outline">
        </ion-icon>
        <ion-label>Select Game Pack</ion-label>
      </ion-item>

      <ion-item style="cursor: pointer" id="trigger-level-select" (click)="onSelectLevel()">
        <ion-icon slot="start" name="cube-outline">
        </ion-icon>
        <ion-label>Select level</ion-label>
      </ion-item>

      <ion-item style="cursor: pointer" id="trigger-how-to-play" (click)="onCloseMenu()">
        <ion-icon slot="start" name="help-circle-outline"></ion-icon>
        <ion-label>How To Play</ion-label>
      </ion-item>

      <ion-item style="cursor: pointer">
        <ion-icon slot="start" name="moon-outline"></ion-icon>
        <ion-label>Dark Mode</ion-label>
        <ion-toggle (ionChange)="onToggleDarkMode()"></ion-toggle>
      </ion-item>

      <ion-item style="cursor: pointer" id="trigger-adjust-sound" (click)="onCloseMenu()">
        <ion-icon slot="start" [name]="this.sound.iconName"></ion-icon>
        <ion-label>Sound</ion-label>
      </ion-item>

      <ion-item style="cursor: pointer" (click)="onClearGameData()">
        <ion-icon slot="start" name="trash-outline"></ion-icon>
        <ion-label>Clear Game Data.</ion-label>
      </ion-item>

      <ion-item style="cursor: pointer" id="trigger-about" (click)="onCloseMenu()">
        <ion-icon slot="start" name="information-circle-outline"></ion-icon>
        <ion-label>About</ion-label>
      </ion-item>


    </ion-list>
  </ion-content>
</ion-menu>
