<ion-modal #levelSelect trigger="trigger-level-select"  (click)="onDissmissModal()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Select Level</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="onDissmissModal()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-list>
              <ion-item
                button="true" [disabled]="i <= this.lastAvailableLevel ? 'false' : 'true'"
                *ngFor="let level of this.vexed.currentPack.levels; index as i"
                (click)="onSelectLevel(i)"
              >
                <ion-icon slot="start"
                  [name]="passArray[i] ? 'checkbox-outline' : 'square-outline'">
                </ion-icon>
                <ion-label><h2>Level {{ i + 1 }}</h2><h3>Par: {{this.parArray[i]}} Best: {{this.bestArray[i]}}</h3></ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ng-template>
</ion-modal>
