<ion-content scrollX="false" scrollY="false">
  <ion-card [ngStyle]="{height: this.ui.cardHeight, width: this.ui.cardWidth }">
    <ion-card-header>
      <ion-card-title>{{this.vexed.currentLevel.name}}</ion-card-title>
      <ion-card-subtitle>Moves: {{this.game.currentMoveTotal}}, Par: {{this.game.currentPar}}, Best: {{this.game.currentBest}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div
        id="game-board"
        [ngClass]="[this.ui.darkMode === 'true' ? 'dark' : 'light']"
        [ngStyle]="{height: this.ui.boardHeight, width: this.ui.boardWidth, marginTop: this.ui.heightOffset}"
      >
        <app-game-block
          *ngFor="let block of this.game.blocks; index as i"
          [gameBlock]="this.game.blocks[i]"
        >
        </app-game-block>
        <app-cursor></app-cursor>
        <app-border></app-border>
      </div>
  </ion-card-content>
</ion-card>
</ion-content>
