/*
  Original block types
  a - orange with green circle
  b - red with hourglass
  c - yellow with 4 black squares. (dice)
  d - green with blue squares (shaped like cross)
  e - blue with white X
  f - yellow with blue square
  g - green, with funnel shape (triangle)
  h - red with orange circle

  verify by loading the following level
  level data for impossible - 6 (index of 5)
  gcXgXXXX/XgXeXXXX/XfhfYXYc/hXagfhed/dYXbegdh/bdfefdaX

*/

.block {
  position: absolute;
  transition: top 0.25s linear, left 0.25s linear, opacity 0.5s ease-in;
  user-select: none; // disable selecting text (solves issue with gestures in web version)
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  color: #FFF;
  cursor: grab;
  z-index: 60;
}

.light:active {
  border: 1px solid #616161;
}

.dark:active {
  border: 1px solid #FFF;
}

.X {
  background-color: #5D6D7E;
  border-radius: 0;
  cursor: default;
}

.Y {
  display: none;
  border-radius: 0;
  cursor: default;
}

.a {
  // heart
  background-image: radial-gradient(circle, #BA68C8, #FF00FF);
}

.b {
  // umbrella
  background-image: radial-gradient(circle, #26C6DA, #03A9F4);
}

.c {
  // dice
  background-image: radial-gradient(circle, #FF8A65, #E65100);
}

.d {
  // diamond
  background-image: radial-gradient(circle, #9575CD, #512DA8);
}

.e {
  // leaf
  background-image: radial-gradient(circle, #4DB6AC, #33FF33);
}

.f {
  // apple
  background-image: radial-gradient(circle, #EC407A, #CC0000);
}

.g {
  // bowling ball
  background-image: radial-gradient(circle, #7986CB, #283593);
}

.h {
  // balloon
  background-image: radial-gradient(circle, #00CC99, #009900);
}
